*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url(img/cidade.jpg);
    backdrop-filter: blur(2px);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    padding: 30px 40px;
    border-radius: 20px;
    box-shadow: 0 20px 25px rgba(0,0,0, 0.6);
    width: 500px;
    text-align: center;
}
h1{
    color: #1b1919;
    margin-bottom: 20px;
}

form{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
#input-cep{
    width: 230px;
    margin-left: 40px;
}